.tileCenter{
    width: 320px !important;
    margin: 100px !important;
    text-align: center !important;
    border: 1px solid black !important;
    padding: 10px !important;
    border-radius: 10px !important;
}